@model Group
@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <h1>Add New Group</h1>
    <form method="post">
        <div class="form-group">
            <label>Group Name</label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <table class="table table-hover table-bordered text-center">
            <thead>
                <tr>
                    <th>Module Name</th>
                    <th>Show</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
        @for (var i = 0; i < ((List<Screen>)ViewBag.screens).Count; i++)
        {
            <tr>
                        <td>@ViewBag.screens[i].Name <input type="hidden" value="@ViewBag.screens[i].Id" asp-for="GroupScreens[i].ScreenId_FK"/></td>
                        <td><input type="checkbox" asp-for="GroupScreens[i].View" /></td>
                        <td><input type="checkbox" asp-for="GroupScreens[i].Create" /></td>
                        <td><input type="checkbox" asp-for="GroupScreens[i].Update" /></td>
                        <td><input type="checkbox" asp-for="GroupScreens[i].Delete" /></td>
            </tr>
        }
            </tbody>
        </table>
        <button>save</button>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}
    



